label {
color: blue;
font-size: 120px;
text-align: center;
}

p {
font-size: 60px;
text-align: center;

}

h1 {
color: red;
font-size: 180px;
text-align: center;
}

.midasi {
font-size: 240px;
text-align: center;
color: yellow;
}
